<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>L'Assoc'isson | L'association de défense de notre beau terroir !</title>
    <link rel='stylesheet' href='style.scss' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
  </head>
  <body class='body'>

    <header class='header'>
    <img class='header__logo' src='assets/img/logo.png' alt="Logo Assoc'isson"/>
    <h2 class='header__slogan'>Le terroir à l'unisson !</h2>
    </header>

    <nav class='navbar'>
      <ul class='navbar__ul'>
        <li class='navbar__element'>
          <a href='#qui' class='navbar__link'>Qui sommes-nous ?</a>
        </li>
        <li class='navbar__element'>
          <a href='#qui' class='navbar__link'>Notre engagement</a>
        </li>
        <li class='navbar__element'>
          <a href='#qui' class='navbar__link'>Agenda</a>
        </li>
      </ul>
    </nav>

    <section class='qui' id='qui'>
      <div class='qui__entilted'>
        <div class='barre1'></div>
        <h2 class='qui__title'>Qui sommes-nous ?</h2>
        <div class='barre2'></div>
      </div>
    </section>

  </body>
</html>
