<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name='description' content="L'Assoc'isson est un organisme qui a pour vocation de défendre le terroir français, la bonne vinasse, et le sauciflard." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>L'Assoc'isson | L'association de défense de notre beau terroir !</title>
    <link rel='stylesheet' href='style.scss' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body class='body'>


  <!-- ===== START HEADER ===== -->
    <header class='header' id='accueil'>
      <img class='header__logo' src='assets/img/logo.png' srcset='assets\img\logo-320.png 320w, assets\img\logo-640.png 640w, assets/img/logo.png 800w' sizes='(max-width: 320px) 320px, (max-width: 640px) 640px, 800px' alt="Logo Assoc'isson"/>
      <h1 class='title' style='display:none'>L'Assoc'isson</h1>
      <h2 class='header__slogan'>Le terroir à l'unisson !</h2>
    </header>
    <!-- ===== END HEADER ===== -->

  <!-- ===== START NAVBAR ===== -->
    <nav class='navbar'>
      <div class='navbar__logoContainer'>
        <a href='#accueil'><img class='navbar__logo' src='assets/img/logo-320.png' alt="logo de Assoc'isson">
      </div>
      <ul class='navbar__ul'>
        <li class='navbar__element underline'>
          <a href='#qui' class='navbar__link'>Qui sommes-nous ?</a>
          <div class='underlined'></div>
        </li>
        <li class='navbar__element underline'>
          <a href='#engagement' class='navbar__link'>Notre engagement</a>
          <div class='underlined'></div>
        </li>
        <li class='navbar__element underline'>
          <a href='#agenda' class='navbar__link'>Calendrier</a>
          <div class='underlined'></div>
        </li>
      </ul>
    </nav>
    <!-- ===== END NAVBAR ===== -->

  <main class='main'>

  <!-- ===== START QUI SECTION ===== -->
    <section class='qui' id='qui'>
      <div class='qui__entilted'>
        <div class='barre1'></div>
        <h2 class='qui__title'>Qui sommes-nous ?</h2>
        <div class='barre2'></div>
      </div>


        <figure class='qui__figure'>
          <img height='800' width='800' class='qui__illustration' id='qui__illustration' src='assets\img\associsson.jpg' srcset='assets\img\associsson-320.jpg 320w, assets\img\associsson.jpg 800w' sizes='(max-width: 320px) 320px, (max-width: 640px) 640px, 800px' alt="Le collectif Assoc'isson"/>
          <figcaption>
            <label for='qui__illustration' class='qui__description'>L'élite de l'Assoc'isson</label>
          </figcaption>
        </figure>

        <article class='qui__article'>
          <p class='qui__presentation'>Basée dans la petite bourgade de Jambognac dans le Périgord Noir, l'Assoc'isson est un collectif formé de petits commerçants locaux, agriculteurs, éleveurs, joueurs de pétanque, et bien d'autres. Ce qui unit les membres de l'Assoc'isson, c'est d'abord l'amour inconditionné de notre terroir français et du patrimoine rural en général, qui se trouve aujourd'hui menacé par la toute puissance des grandes villes. Nous, les membres de cette magnifique association, millitons activement dans toute la France, dans la bonne humeur et toujours avec un verre de gnole à la main !</p>
        </article>

    </section>
  <!-- ===== END QUI SECTION ===== -->

    <div class='intersection'></div>

  <!-- ===== START ENGAGEMENT SECTION ===== -->
    <section id='engagement' class='engagement'>
      <div class='engagement__entilted'>
        <div class='barre1'></div>
        <h2 class='engagement__title'>Notre engagement</h2>
        <div class='barre2'></div>
      </div>

      <figure class='engagement__figure engagement__figure--1'>
        <img class='engagement__illustration engagement__illustration--1' id='engagement__illustration1' src='assets\img\livraison-1.jpg' srcset='assets\img\livraison-1-320.jpg 320w, assets\img\livraison-1.jpg 800w' sizes='(max-width: 320px) 320px, (max-width: 640px) 640px, 800px' alt="Agriculteur de Jambognac charcutier Gautier"/>
        <figcaption class='engagement__figcaption engagement__figcaption--1'>
          <label for='engagement__illustration1' class='engagement__description engagement__description--1'>La 4L de Jacky le livreur</label>
        </figcaption>
      </figure>

      <article class='engagement__article engagement__article--1'>
        <p class='engagement__presentation engagement__presentation--1'>Face à l'hyper-capitalisation du secteur alimentaire, et à la concurrence déloyale des grands exportateurs agricoles, nous faisons tout pour faire prospérer les producteurs locaux. Quoi de mieux que de profiter de son terroir, de ses traditions, et de faire vivre sa région ? L'Assoc'isson, fière des talents culinaires de la région, assure depuis 1992 un service de livraison à domicile à Jambognac et ses alentours, de produits frais et succulents. De quoi faire vivre les locaux et satisfaire les habitants du coin ! L'Assoc'isson est également présente partout en France, et organise des événements ayant pour but de lever le voile sur nos producteur, et en faire la promotion. Nous avons même une place à l'Assemblée Nationale en la personne de Jean Lassalle, qui porte notre voix avec hardeur et conviction.</p>
      </article>

      <figure class='engagement__figure engagement__figure--2'>
        <img class='engagement__illustration engagement__illustration--2' id='engagement__illustration2' src='assets\img\charcutier-1.jpg' srcset='assets\img\charcutier-1-320.jpg 320w, assets\img\charcutier-1.jpg 800w' sizes='(max-width: 320px) 320px, (max-width: 640px) 640px, 800px' alt="Agriculteur de Jambognac charcutier Gautier"/>
        <figcaption class='engagement__figcaption engagement__figcaption--2'>
          <label for='engagement__illustration2' class='engagement__description engagement__description--2'>Gautier le charcutier de Saucissonville</label>
        </figcaption>
      </figure>

      <figure class='engagement__figure engagement__figure--3'>
        <img class='engagement__illustration engagement__illustration--3' id='engagement__illustration3' src='assets\img\agriculteur-1.jpg' srcset='assets\img\agriculteur-1-320.jpg 320w, assets\img\agriculteur-1-640.jpg 640w, assets\img\agriculteur-1.jpg 800w' sizes='(max-width: 320px) 320px, (max-width: 640px) 640px, 800px' alt="Agriculteur de Jambognac fromager Gégé"/>
        <figcaption class='engagement__figcaption--3'>
          <label for='engagement__illustration3' class='engagement__description engagement__description--3'>Gégé le fromager de Terriniac</label>
        </figcaption>
      </figure>

      <figure class='engagement__figure engagement__figure--4'>
        <img class='engagement__illustration engagement__illustration--3' id='engagement__illustration3' src='assets\img\marche.jpg' srcset='assets\img\marche-320.jpg 320w, assets\img\marche-640.jpg 640w, assets\img\marche.jpg 800w' sizes='(max-width: 320px) 320px, (max-width: 640px) 640px, 800px' alt="Marché de l'Assoc'isson"/>
        <figcaption class='engagement__figcaption--4'>
          <label for='engagement__illustration3' class='engagement__description engagement__description--4'>Le fameux marché de l'Assoc'isson</label>
        </figcaption>
      </figure>

      <article class='engagement__article engagement__article--2'>
        <p class='engagement__presentation engagement__presentation--2'>Chaque Samedi, l'Assoc'isson organise, en partenariat avec les commerçants et agriculteurs de la région, un marché sur la Place de Jambognac. Une belle occasion pour les artisans d'être en contact avec les consommateurs, et pour les habitants du coin de faire le plein de succulents mets de leur région ! Venez découvrir Gautier le charcutier, Gégé le fromager, Maurice le producteur de pastis, Baptiste le caviste, et les 17 autres producteurs venant de Jambognac, Vinrougignon, Terriniac, Saucissonville et Pétanbourg.</p>
      </article>
    </section>
    <!-- ===== END ENGAGEMENT SECTION ===== -->
  
    <div class='intersection'></div>

  <!-- ===== START AGENDA SECTION ===== -->
    <section class='agenda' id='agenda'>
      <div class='agenda__entilted'>
        <div class='barre1'></div>
        <h2 class='agenda__title'>Calendrier</h2>
        <div class='barre2'></div>
      </div>

      <div class='eventGrid'>

        <article class='event'>
          <h3 class='event__date'>18/06/2021</h3>
          <figure class='event__figure'>
            <img class='event__illustration' src='assets\img\petanque.jpg' srcset='assets\img\petanque-320.jpg 320w, assets\img\petanque-640.jpg 640w, assets\img\petanque.jpg 800w' sizes='(max-width: 320px) 320px, (max-width: 640px) 640px, 800px' alt="Tournoi de pétanque à Pétambourg organisé par l'Associsson" />
            <figcaption class='event__presentation'>
              <h3 class='event__title'>Grand tournoi de pétanque à Pétambourg</h3>
              <div class='event__trait'></div>
              <p class='event__description'>La mairie de Pétambourg, en collaboration avec l'Assoc'isson, organise le plus grand tournoi de pétanque du Sud-Ouest. Bière, pastis, sauciflard et rigolade au rendez-vous ! Venez en famille ou entre amis vous confronter aux plus grands boulistes du monde tels que Phillipe Quintais, Phillipe Suchaud, Christian Fazzino ou encore Dylan Rocher! Le gagnant repartira avec des places pour le spectacle exceptionnel de Jean-Marie Bigard !</p>
            </figcaption>
          </figure>
        </article>



        <article class='event'>
          <h3 class='event__date'>16/07/2021</h3>
          <figure class='event__figure'>
            <img class='event__illustration' src='assets\img\camping.jpg' alt="Fête au camping de Pastissou organisé par l'Associsson" />
            <figcaption class='event__presentation'>
              <h3 class='event__title'>Fête estivale du camping Le Pastissou</h3>
              <div class='event__trait'></div>
              <p class='event__description'>Pour célébrer l'été, Jean-Jacques Janjaque ouvre les porte de son célèbre camping Le Pastissou, afin de permettre à tout le monde de profiter des merveilles de son domaine. Au programme, grillades au bord d'une immence piscine d'eau de pluie. Vous pourrez y croiser des saumons et autres étrangetés sous-marines. Après la tombée du jour, DJ Sullix, notre star régionale qui laisse humide toutes les demoiselles du Périgord, ravivera vos coeurs avec sa célèbre playlist "Francky Vincent / Patrick Sébastien / Johnny Halliday" pour un max d'ambiance !</p>
            </figcaption>
          </figure>
        </article>



        <article class='event'>
          <h3 class='event__date'>29/09/2021</h3>
          <figure class='event__figure'>
            <img class='event__illustration' src='assets\img\jean-lassalle.jpg' alt="Meeting politique de Jean Lassalle organisé par l'Associsson" />
            <figcaption class='event__presentation'>
              <h3 class='event__title'>Meeting politique de Jean Lassalle</h3>
              <div class='event__trait'></div>
              <p class='event__description'>A l'occasion du lancement de sa campagne pour les élections présidentielles, notre acolyte et représentant Jean Lassalle (berger, fils de berger, petit-fils de berger) tiendra un discours empli d'émotions et de sagesse organisé par l'Assoc'isson dans la salle communale de Jambognac. Cet homme, dont la beauté de l'âme n'a d'égale que celle de son accent, est honoré de s'adresser au peuple, aux patriotes, à ceux qui se battent pour que les produits du terroir ne se retrouvent jamais oubliés dans les tiroirs.</p>
            </figcaption>
          </figure>
        </article>



        <article class='event'>
          <h3 class='event__date'>09/11/2021</h3>
          <figure class='event__figure'>
            <img class='event__illustration' src='assets\img\4L.jpg' alt="Journée du Saucisson organisée par l'Associsson" />
            <figcaption class='event__presentation'>
              <h3 class='event__title'>Journée du Saucisson</h3>
              <div class='event__trait'></div>
              <p class='event__description'>Pour fêter comme il se doit l'anniversaire de la création de l'Assoc'isson, nous organisons avec le département du Périgord les Grands Jeux de la Journée du Saucisson, qui se dérouleront dans l'arène de Terriniac. Les athlètes se répartiront selon quatre disciplines: le lancer de saucisson, la course de 4L, la joûte au jambon, et le saut de meules. Gloire au vainqueur ! Pour participer, rendez-vous sur le site de la mairie de Terriniac.</p>
            </figcaption>
          </figure>
        </article>


        <article class='event'>
          <h3 class='event__date'>25/12/2021</h3>
          <figure class='event__figure'>
            <img class='event__illustration' src='assets\img\noel.jpg' alt="Marché de Noel de Jambognac organisé par l'Associsson" />
            <figcaption class='event__presentation'>
              <h3 class='event__title'>Marché de Noël de Jambognac</h3>
              <div class='event__trait'></div>
              <p class='event__description'>C'est dans le plus grand respect de nos traditions que les bénévoles de l'Assoc'isson organisent en cette fin d'année le plus grand marché de Noël du Périgord. Venez y déguster de sublimes marrons chauds fraichement cueillis par Roger du verger et préparés par Brigitte à la marmite. Noël Peyre, notre intermitant du spectacle associé, interprêtera le Père Noël pour le plus grand bonheur de vos enfants. De nombreux stands proposant une pelletée de produits locaux et artisanaux seront installés pour l'occasion. Une occasion en or de faire la provision de charcuterie!</p>
            </figcaption>
          </figure>
        </article>



        <article class='event'>
          <h3 class='event__date'>30/12/2021</h3>
          <figure class='event__figure'>
            <img class='event__illustration' src='assets\img\vin.webp' alt="Marche nocturne pour le vin organisée par l'Associsson" />
            <figcaption class='event__presentation'>
              <h3 class='event__title'>Marche nocturne pour le vin</h3>
              <div class='event__trait'></div>
              <p class='event__description'>Depuis de nombreuses années, les vignerons se plient à une pratique venue de l'étranger: l'utilisation massive de pesticides. Que faire devant une telle industrialisation outrancière, qui empoisonne tant nos personnes que notre patrimoine? L'Assoc'isson organise une grande marche nocturne pour protéger notre terroir, et que le vin français garde sa grandeur. Artisans, politiciens, étudiants, ruraux, citadins, venez nombreux soutenir cette cause noble pour sauver l'âme de notre pays!</p>
            </figcaption>
          </figure>
        </article>

    </div>

    </section>
  <!-- ===== END AGENDA SECTION ===== -->
  </main>


<!-- ===== START FOOTER ===== -->
   <footer class='footer'>
    <div class='container'>
        <div class='footer__contact'>
        
            <h3 class='footer__title'>Contact</h3>

            <div class='filet'></div>

            <ul>
                <li class='footer__li'>
                    <img class='footer__icon' src='assets/icons/phone.png' alt='icone phone'/>
                    <p>06.69.69.69.69</p>
                </li>

                <li class='footer__li'>
                    <img class='footer__icon' src='assets/icons/email.png' alt='icone email'/>
                    <p>contact@assoc-isson.fr</p>
                </li>

                <li class='footer__li'>
                    <img class='footer__icon' src='assets/icons/map.png' alt='icone map'/>
                    <p>23 rue de Callonge,<br>27930 Jambognac</p>
                </li>
            </ul>
        </div>

        <div class='footer__nav'>

        <h3 class='footer__title'>Navigation</h3>
        <div class='filet' style='background-color: #f5f5f5; margin-top: 25px; margin-bottom: 25px'></div>

        <nav>
            <ul>
                <li class='footer__li'>
                    <a href='#qui'>Qui sommes-nous ?</a>
                </li>

                <li class='footer__li'>
                    <a href='#engagement'>Notre engagement</a>
                </li>

                <li class='footer__li'>
                    <a href='#agenda'>Calendrier</a>
                </li>
            </ul>
        </nav>
        </div>

    </div>
    </footer>
<!-- ===== END FOOTER ===== -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src='script.js'></script>
<script></script>
  </body>
</html>
