* {
  box-sizing: border-box;
}

.body {
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-family: "Akaya Telivigala", sans-serif, cursive;
}

article {
  align-self: center !important;
}

.intersection {
  margin-top: 1rem;

  width: 100vw;
  height: 20vh;

  background: linear-gradient(rgba(29, 21, 21, 0.25), rgba(0, 0, 0, 0.25)),
    url("assets/img/bg-1.jpg");
  background-size: 100%;
  background-position: right;
  background-attachment: scroll;
  background-repeat: no-repeat;
}

p {
  background-color: rgb(247, 247, 247);
  padding: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  padding-top: 0;

  background: linear-gradient(rgba(29, 21, 21, 0.25), rgba(0, 0, 0, 0.25)),
    url("assets/img/bg__header.jpg");
  background-size: 110%;
  background-position: fixed;
  background-attachment: fixed;
  background-repeat: no-repeat;

  .header__logo {
    width: 80%;
    height: auto;
  }

  .header__slogan {
    margin: 0px;
    font-size: 1.9rem;
    color: white;
  }
}

.barre1 {
  height: 6px;
  background-color: #c62828;
  grid-column: 1;
  align-self: center;
}

.barre2 {
  height: 6px;
  background-color: #c62828;
  grid-column: 3;
  align-self: center;
}

.navbar {
  display: none;
}

.qui {
  padding: 1rem;
  font-size: 1.1rem;

  display: grid;
  grid-template-columns: 1fr;

  .qui__entilted {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr auto 2fr;
    grid-gap: 0.5rem;

    .qui__title {
      color: #c62828;
      grid-column: 2;
    }
  }

  .qui__figure {
    grid-row: 3;
    margin: 0;
    text-align: center;

    .qui__illustration {
      max-width: 90vw;
      height: auto;
    }

    .qui__description {
      font-style: italic;
      font-size: 0.85rem;
      color: rgb(102, 102, 102);
    }
  }

  .qui__article {
    grid-row: 2;
    margin: 0 0 35px 0;
    max-width: 650px;
  }

  .qui__presentation {
    margin: 0;
    font-size: 0.9rem;
  }
}

.engagement {
  padding: 1rem;
  font-size: 1.1rem;

  display: grid;
  grid-template-columns: 1fr;

  .engagement__entilted {
    grid-row: 1;
    display: grid;
    grid-template-columns: 2fr auto 1fr;
    grid-gap: 0.5rem;

    .engagement__title {
      color: #c62828;
      grid-column: 2;
    }
  }

  .engagement__figure {
    grid-row: 3;
    margin: 0;
    text-align: center;

    .engagement__illustration {
      max-width: 90vw;
      height: auto;
    }

    .engagement__description {
      font-style: italic;
      font-size: 0.85rem;
      color: rgb(102, 102, 102);
    }
  }

  .engagement__article {
    grid-row: 2;
    margin: 0 0 35px 0;
    max-width: 650px;
  }

  .engagement__presentation {
    margin: 0;
    font-size: 0.9rem;
  }

  .engagement__figure--2 {
    grid-row: 5;
  }

  .engagement__article--2 {
    margin-top: 2.5rem;
    grid-row: 4;
  }

  .engagement__figcaption--2 {
    margin-bottom: 1.5rem;
  }

  .engagement__article {
    margin-bottom: 2.7rem;
  }
}

.agenda {
  padding: 1rem;
  font-size: 1.1rem;

  display: grid;
  grid-template-columns: 1fr;

  .agenda__entilted {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr auto 2fr;
    grid-gap: 0.5rem;

    .agenda__title {
      color: #c62828;
      grid-column: 2;
    }
  }

  .eventGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .event {
    background-color: rgb(220, 220, 220);
    font-size: 0.9rem;
    width: 90vw;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem 0 1rem;
    /*
    border-style: solid;
    border-width: 7px;
    border-color: #c62828;
    */

    .event__presentation {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .event__trait {
      width: 50%;
      height: 3px;
      background-color: #9c2121;
    }

    .event__date {
      color: #9c2121;
      font-family: "Akaya Telivigala", sans-serif, cursive;
      font-size: 2rem;
      margin: 1.2rem 0 1.2rem 0;
    }

    .event__figure {
      margin: 0;
      text-align: center;

      .event__illustration {
        max-width: 90%;
      }

      .event__description {
        background-color: rgba(0, 0, 0, 0);
        margin-top: 0;
      }

      .event__title {
        font-family: "Akaya Telivigala", cursive;
        font-size: 1.6rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
      }
    }
  }
}

/*== footer ==*/
.footer {
  font-family: "Open Sans", sans-serif;

  margin-top: 3rem;
  padding: 3rem;

  background-color: #c62828;
  color: white;
  font-size: 1.1rem;

  p {
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 1rem 0 1rem 0.5rem;
  }

  a {
    padding: 1.2rem 0 1.2rem 0;
  }

  .footer__title {
    font-family: "Akaya Telivigala", sans-serif, cursive;
    font-size: 2rem;
    margin: 0 0 1.5rem 0;
  }

  .footer__icon {
    margin-right: 0.5rem;
  }
}

.footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.footer__contact {
  width: 40%;
}

.footer__nav {
  width: 60%;
}

.footer ul {
  padding-left: 0;
}

.footer__li {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 1rem;
}

.footer i {
  margin-right: 7px;
}

.footer p {
  margin: 0;
}

@media screen and (max-width: 770px) {
  .footer__contact {
    width: 100%;
  }

  .footer__nav {
    margin-top: 50px;
    width: 100%;
  }

  .footer .container {
    flex-direction: column;
  }
}

.footer a {
  text-decoration: none;
  height: calc(1rem + 8px);
  color: #f5f5f5;
  transition: color 0.3s;
}

.footer a:hover {
  color: rgb(184, 184, 184);
  transition: color 0.3s;
}

.filet {
  background-color: white;
  margin-top: 25px;
  margin-bottom: 25px;
}
